spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

token:
  secret-key: ${secretKey}
  access-token-expiration-millis: ${accessTokenExpiration}
  refresh-token-expiration-millis: ${refreshTokenExpiration}
